#hover:hover {
    -fx-fill: #ffbe32;
}

#hover:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#drawAnchor {
    -fx-background-image:url("../IMAGES/play/bg.png");
    -fx-background-size: 100% 100%;
}

#scroll{
    -fx-background-color: transparent;
}

#scroll .viewport {
    -fx-background-color: transparent;
}

#drawAnchor {
    -fx-background-image:url("../IMAGES/play/bg.png");
    -fx-background-size: 100% 100%;
}

#scroll{
    -fx-background-color: transparent;
}

#scroll .viewport {
    -fx-background-color: transparent;
}

#drawButton:hover{
    -fx-effect: dropshadow(gaussian, #FF00005F, 50, 0.3, 0, 0);
}

#discardButton:hover {
    -fx-effect: dropshadow(gaussian, #FF00005F, 50, 0.3, 0, 0);
}

HBox ImageView:hover{
    -fx-effect: dropshadow(gaussian, #FF00005F, 50, 0.3, 0, 0);
    -fx-translate-y: -30px;
}
